<a mat-stroked-button routerLink="/gasto/new">Registrar gasto</a>
<table mat-table [dataSource]="gastos" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Gasto ID </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.id}}</td>
    </ng-container>
    <ng-container matColumnDef="usuario_id">
        <th mat-header-cell *matHeaderCellDef> Usuario ID </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.usuario_id}}</td>
    </ng-container>
    <ng-container matColumnDef="categoria_id">
        <th mat-header-cell *matHeaderCellDef> Categoria ID </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.categoria_id}}</td>
    </ng-container>
    <ng-container matColumnDef="monto">
        <th mat-header-cell *matHeaderCellDef> Monto </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.monto}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.descripcion}}</td>
    </ng-container>
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let gasto">{{gasto.fecha | date:'yyyy/MM/dd'}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let gasto">
          <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>





</table>